.footer_background {
    background: #B7E5E5;
}

.footer_content {
    text-align: center;
    height: 250px;
    max-height: 5%;
}

.footer_content img{
    height: 100%;
    max-height: 250px;
    vertical-align: middle;
}

.footer_content #divulgar {
    max-height: 100px;
    height: 100%;
}