:root {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    --color-important: #408080;
    
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.show_on_scroll {
    opacity: 0;
}


@media (max-width: 600px)  {
    :root {
        font-size: 59%;
    }
}